body {
  border: black 1px solid;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  width: 960px;
}
h1 {
  border: 2px black solid;
  font-size: 4em;
  text-align: center;
}
.medium-image {
  padding: 5px;
  border: solid black 1px;
  width: 300px;
}
#final-results {
  font-size: 2.5em;
  width: 700px;
  padding: 10px;
  margin: 20px auto 10px auto;
}